body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 11pt;
}

h1 {
  text-align: center;
  font-size: 40pt;
  font-weight: 400;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.nav-button {
  cursor: pointer;

  background-color: transparent;
  border-style: none;

  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt;

  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s ease;
}

.nav-button:hover {
  border-bottom: 2px solid #000000;
}

.nav-button.active {
  border-bottom: 2px solid #000000;
}

#home,
#food,
#contact,
#drinks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  font-style: italic;
}

.category {
  font-weight: bold;
  text-decoration: underline;
}

#home-image {
  height: 70vh;
  width: auto;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;

  bottom: 0;
  left: 0;
  
  width: 100%;
}

#footer-signature {
  display: flex;
  justify-content: center;
  /* position: absolute; */

  gap: 10px;
}

#creator {
  display: flex;
  align-items: center;
  margin: 0;

  font-size: 15px;
}

#github-logo {
  height: 30px;
  transition: transform 0.3s ease;
}

#github-logo:hover {
  transform: scale(1.2) rotate(360deg);
}
