h1 {
  text-align: center;
}

nav {
  display: flex;
  justify-content: center;
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#home-image {
  height: 500px;
  width: auto;
}

#creator {
  text-align: center;
}